@font-face {
    font-family: "beckan";
    src: url("/assets/fonts/beckan.otf");
}

@font-face {
    font-family: "alatsi";
    src: url("/assets/fonts/alatsi.woff");
}

@font-face {
    font-family: "gordqucik";
    src: url("/assets/fonts/gordqucik.otf");
}

:root {
    --dark-green: #032226;
    --midnight-green: #074f57;
    --blue-sky: #8acee5;
    --snow: #fffbfa;
    --vanilla: #ffebad;
    --sand-brown: #f59e59;

    --border-radius: 15px;
    --border-radius-small: 10px;
    --border-radius-very-small: 5px;
    --border-radius-large: 20px;

    --container-max-width: 1140px;
    --container-small: 946px;
    --header-height: 80px;

    --z-dropdown: 10;
    --z-sticky: 11;
    --z-modal: 12;
}

.dark-green,
.midnight-green span {
    color: var(--dark-green);
}

.midnight-green {
    color: var(--midnight-green);
}

.blue-sky {
    color: var(--blue-sky);
}

.snow {
    color: var(--snow);
}

.vanilla {
    color: var(--vanilla);
}

.sand-brown {
    color: var(--sand-brown);
}

.dark-gradient {
    background: linear-gradient(to right, var(--dark-green), var(--midnight-green), #0b7884, var(--dark-green));
    animation: background-pan 7s linear infinite;
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-pan {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: -200% center;
    }
}

.bg-dark-green {
    background-color: var(--dark-green);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Alatsi", sans-serif;
    color: var(--dark-green);
    font-size: 1rem;
    overflow-x: hidden;
    padding-top: 24px;
}

body {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/assets/images/plane-right.png"), url("/assets/images/plane-left.png"), url("/assets/images/bg-home.png");
    background-repeat: no-repeat;
    background-size: auto, auto, cover;
    background-position: top right, top left, top;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-style: none;
}

a,
a:hover {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

h1,
.h1 {
    font-family: "beckan";
    line-height: 6rem;
    font-weight: 400;
    font-size: 6rem;
}

h2,
.h2 {
    font-family: "gordqucik";
    line-height: 1.75rem;
    font-size: 1.75rem;
}

.h2-small {
    line-height: 1.375rem;
    font-size: 1.375rem;
}

.h2-alatsi {
    font-family: "Alatsi", sans-serif;
}

.h2-35 {
    line-height: 2.188rem;
    font-size: 2.188rem;
}

.h2-beckan {
    line-height: 1.75rem;
    font-size: 1.75rem;
}

.tags,
button {
    font-family: "gordqucik";
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 1rem;
}

button {
    font-family: "Alatsi", sans-serif;
}

p {
    line-height: 1rem;
}

.p-small {
    font-size: 0.875rem;
    line-height: 0.75rem;
}

ul,
ol {
    margin-bottom: 1em;
    padding-left: 1.5em;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    width: 100%;
}

.container-small {
    max-width: var(--container-small);
    margin: 0 auto;
    width: 100%;
}

header .container {
    padding: 0 1.5rem;
    width: 1140px;
}

.bandeau + section {
    padding-top: 10rem;
}

.footer {
    background-image: url("/assets/images/img-footer.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 2.875rem 0 25.625rem;

    & .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: flex-end;

        & h2 {
            margin-bottom: 1rem;
        }

        & .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2.5rem;

            & ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 1rem;
                margin: 0;
                padding: 0;

                & a {
                    color: var(--midnight-green);

                    &:hover {
                        color: var(--dark-green);
                    }
                }
            }
        }
    }
}

@media (max-width: 978px) {
    .footer {
        padding-bottom: 17rem;

        & .container {
            grid-template-columns: 1fr;
            gap: 4rem;

            & .menu {
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 1600px) {
    .footer {
        background-image: url("/assets/images/footer.png");
        background-size: contain;
    }
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

@media (max-width: 978px) {
    header .container,
    .container,
    .container-small {
        width: calc(100vw - 3rem);
        margin: auto;
    }

    body {
        background-size: 100%, auto, auto;
    }

    h1,
    .h1 {
        line-height: 3rem;
        font-size: 3rem;
    }

    h2,
    .h2 {
        line-height: 1.3rem;
        font-size: 1.2rem;
    }

    .h2-small {
        line-height: 1.1rem;
        font-size: 1.1rem;
    }

    .h2-35 {
        line-height: 1.3rem;
        font-size: 1.3rem;
    }

    .h2-beckan {
        line-height: 1.3rem;
        font-size: 1.3rem;
    }

    .tags,
    button {
        line-height: 1rem;
        font-size: 0.95rem;
    }

    p {
        line-height: 1.1rem;
        font-size: 1rem;
    }

    .p-small {
        font-size: 0.85rem;
        line-height: 0.75rem;
    }
}
