.nav.open ~ .burger span,
.burger.open span {
    background-color: var(--snow) !important;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10001;

    & span {
        display: block;
        width: 28px;
        height: 3px;
        margin: 4px 0;
        background-color: var(--dark-green);
        border-radius: 2px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        top: -3rem;
        right: -150vw;
        width: calc(100vw + 3rem);
        height: calc(100vh + 3rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15rem 2rem 2rem;
        gap: 24px;
        transition: right 0.3s;
        z-index: 1000;
        background-color: var(--midnight-green);

        &.open {
            right: -3rem;
        }
    }

    .burger {
        display: flex;
    }
}

.filters {
    margin-bottom: 3rem;
    text-align: center;

    & .filters h2 {
        margin-bottom: 1.5rem;
        color: var(--dark-green);
    }

    & .filter-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;

        & .btn-filter {
            padding: 0.625rem 0.938rem;
            display: flex;
            gap: 0.75rem;
            border-radius: var(--border-radius);
            background-color: transparent;
            border: 2px solid var(--sand-brown);

            &:hover,
            &.active {
                background-color: var(--sand-brown);
                border: 2px solid var(--sand-brown);
            }
        }
    }
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.logo {
    height: 40px;
    width: auto;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.16);
    border-radius: var(--border-radius);
    backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.glass-effect-max {
    background: rgba(255, 251, 250, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 251, 250, 0.44);
}

.carousel-container {
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
    justify-content: center;
    overflow: visible;
    position: relative;
    flex-direction: column;

    & #finalCarousel {
        & .carousel-item {
            border-radius: var(--border-radius-small);
            overflow: hidden;

            & .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 1.25rem 1.25rem 4rem;
                background-color: var(--vanilla);
                margin-bottom: -1.5rem;

                & .first-line {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    & .tags {
                        padding: 0.625rem 0.938rem;
                        display: flex;
                        gap: 0.75rem;

                        & .tag-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            & .image-container {
                width: 366px;
                height: 250px;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--border-radius-large);
                }
            }
        }
    }

    & .carousel-track {
        display: flex;
        will-change: transform;
        width: 100%;
        gap: 1.25rem;
    }

    & .container-button-controls {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        gap: 0.625rem;
    }

    & .titre-arrows {
        display: flex;
        align-items: end;
    }

    & .container-titre {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        max-width: 100%;
    }
}

@media (max-width: 978px) {
    .carousel-container {
        gap: 1.25rem;

        & .titre-arrows {
            flex-direction: column;
            align-items: flex-start;
            gap: 2.25rem;
        }

        & .container-button-controls {
            width: 100%;
            justify-content: space-between;
            gap: 0.625rem;
        }
    }
}

.carousel:not(#finalCarousel),
.carousel#finalCarousel.itinerary-page,
.destinations-grid {
    & .carousel-item,
    & .destination-card {
        min-width: 367px;
        min-height: 250px;
        position: relative;

        & .btn-destinations-container {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        & .text {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            bottom: 10px;
            left: 10px;
            right: 10px;
            height: 58px;
            padding: 0 0.938rem;
            margin-bottom: 0;
            background: rgba(255, 251, 250, 0.61);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.1px);
            -webkit-backdrop-filter: blur(9.1px);
            border: 1px solid rgba(255, 251, 250, 0.44);
        }

        .tag-icon {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 978px) {
    .carousel:not(#finalCarousel),
    .carousel#finalCarousel.itinerary-page,
    .destinations-grid {
        & .carousel-item,
        & .destination-card {
            img {
                width: 100% !important;
            }
        }
    }
}

& .destination-card {
    & .first-line {
        position: absolute;
        top: 10px;
        left: 10px;

        & .tags {
            padding: 0.625rem 0.938rem;
            display: flex;
            gap: 0.75rem;
        }
    }
}

.btn-container {
    cursor: pointer;

    & .btn-text {
        border-radius: var(--border-radius-large);
        color: var(--snow);
        padding: 0.5rem 1.25rem;

        &.bg-dark-green {
            background-color: var(--dark-green);
        }

        &.bg-midnight-green {
            background-color: var(--midnight-green);
        }

        &.bg-sand-brown {
            background-color: var(--sand-brown);
        }
    }

    & .btn-icon-container {
        margin-left: -0.25rem;
        border-radius: var(--border-radius-large);
        width: 2.25rem;
        height: 2.25rem;

        &.bg-dark-green {
            background-color: var(--dark-green);
        }

        &.bg-midnight-green {
            background-color: var(--midnight-green);
        }

        &.bg-sand-brown {
            background-color: var(--sand-brown);
        }
    }
    &:hover .btn-icon-container,
    &:hover .btn-text {
        &.bg-dark-green,
        &.bg-sand-brown {
            background-color: var(--midnight-green);
        }

        &.bg-midnight-green {
            background-color: var(--dark-green);
        }
    }

    .btn-icon {
        position: absolute;
        right: 0;
        display: flex;
        overflow: visible;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 2.25rem;
        height: 2.25rem;
    }
}

.bandeau {
    padding: 0;
    position: relative;
    margin-bottom: -4rem;
    z-index: var(--z-dropdown);

    & .container {
        max-width: var(--container-small);
        margin: auto;
        border-radius: var(--border-radius);

        & .bandeau-inner {
            display: grid;
            grid-template-columns: auto max-content;
            gap: 4rem;
            align-items: center;
            background-image: url("/assets/images/bg-banner.png");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 1.875rem;

            & h2 {
                margin-bottom: 0.625rem;
            }
        }

        @media (max-width: 978px) {
            & .bandeau-inner {
                grid-template-columns: 1fr;
                gap: 1.25rem;
            }
        }
    }
}

.partenaire-banner {
    overflow: hidden;
    position: relative;
    background-image: url("/assets/images/bg-banner-partenaires.png");
    height: 78px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;

    & .group-wrapper {
        display: flex;
        width: max-content;
        will-change: transform;
        pointer-events: none;
    }

    & .partenaire-container {
        display: flex;
        gap: 6.25rem;

        & .group {
            display: flex;
            gap: 6.25rem;

            & a {
                height: 40px;
                min-width: max-content;

                & img {
                    height: 40px;
                    width: auto;
                    z-index: 1;
                }
            }
        }
    }
}

.ia-chatbot-section {
    margin-top: 9.375rem;

    & .glass-effect {
        padding: 5rem 0;
        margin: 0 2rem;
    }

    & .container-titre {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    & .flex-group {
        display: flex;
        align-items: center;
        padding: 2.5rem 0;
        gap: 1.25rem;

        & input {
            border: 2px solid var(--sand-brown);
            background-color: var(--snow);
            border-radius: var(--border-radius);
            color: var(--dark-green);
            padding: 0.625rem 1rem;
            font-size: 1rem;
            width: 100%;
            max-width: 400px;

            &::placeholder {
                color: var(--dark-green);
            }
        }
    }

    & .pre-wrap-response {
        white-space: pre-wrap;
        word-break: break-word;
    }
}

@media (max-width: 978px) {
    .ia-chatbot-section {
        & .glass-effect {
            padding: 2.5rem 0;

            & .flex-group {
                flex-direction: column;
                align-items: flex-start;
            }

            & .container {
                width: calc(100vw - 7rem);
            }
        }
    }
}
